# Aplication PORT
APP_PORT=8080

# Create Database
MYSQL_DATABASE=my_app_db
MYSQL_ROOT_PASSWORD=root_password_change_me

APP_DB_USER=app_user
APP_DB_PASSWORD=app_password_change_me

# Database APP consume
DATABASE_USER=app_user
DATABASE_PASSWORD=app_password_change_me
DATABASE_URL=jdbc:mysql://127.0.0.1:3307/my_app_db

# Front end route
FRONTEND_URLS=http://localhost:3000/

# R2 Configuration
R2_ACCESS_KEY=your_r2_access_key_id
R2_BUCKET=my-app-bucket
R2_ENDPOINT=https://your_account_id.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-your_bucket_id.r2.dev
R2_SECRET_KEY=your_r2_secret_access_key

# Firebase configuration
FIREBASE_PROJECT_ID=my-demo-project-id
FIREBASE_PRIVATE_KEY_ID=your_private_key_id_here
FIREBASE_PRIVATE_KEY="your_firebase_private_key_here"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-dummy@my-demo-project-id.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=123456789012345678901